/*
  body{
    background-color: rgb(114, 70, 70);
   
  }
*/


.balata{
  position :absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  background-color: orange;
  transform: translate(-50%,-50%);
}



.logo{
  position: absolute;
  width: 50%;
  height: 50%;
  top:50%;
  left:50%;
  
  transform: translate(-50%,-50%);
}



.line-1{
  position: absolute;
  top:5%;
  bottom: 10%;
  left:0%;
  right: 95%;
  
  background-color: #9e1f45;
}

.line-2{
  position: absolute;
  top:10%;
  bottom: 5%;
  left:95%;
  right: 0%;
  /*transform: rotateZ(-30deg);*/
  background-color: #2b5036;
  
}


.line-up{

  position: absolute;
  top:0%;
  bottom: 95%;
  left:0%;
  right: 0%;
  background-color: #2b5036;
}


.line-down{

  position: absolute;
  top:95%;
  bottom: 0%;
  left:0%;
  right: 0%;
  background-color: #2b5036;
}