

.category{
    position: relative;
    width: 100%;
}

.category .category-description{
    position: relative;
    width: 100%;
    min-height: 50px;

    direction: rtl;
    font-size: larger;
    font-weight: bolder;
    color: #ffb92a;
    
}

.category-tex{
    position: absolute;
    width: 100%;
    top:50%;
    right: 5%;
    transform: translate(0,-50%);
    /*background-color: chartreuse; /*croma*/ 
}



.category .category-content{
    position: relative;
    /*background-color: rgb(24, 17, 17);*/
    background-color: #0f0a05;
    display: block;
    text-align: center;
    font-size: 2em;
    
    min-height: 390px;
    
    margin-bottom: 15px;
    /*border-radius: 0.6em;*/

    
    align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    overflow-x:scroll; /*make scrollable*/

    gap: 5px;

    color: #ffb92a;

    border-top: 2px solid #3b3737;
}


#category-content::-webkit-scrollbar
{
  display: none;
  
} 