

.genres{
    position: fixed;
    
    bottom: 0%;
    left:0%;
    right: 0%;
	height: 80px;

	/*background-color: #3a3b3d;*/
    
    
    align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    /* right to left */
    direction: rtl;

    /* put spaces between elements */
    column-gap: 20px;

}


#genres::-webkit-scrollbar
{
	display: none;
    
}



.genre{
    
   
    
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 0;

    font-size: larger;
    
    padding: 5px;
    border: solid #515357;
    border-radius: 10px;
    background-color: #404247;
    color: yellow;
    
    text-align: center;
}


