
.scrollbar-space{
    position :fixed;
    right :0%;
    left: 90%;
    top:100px;
    bottom:0%;
    
}



.scrollbar
{
    position: fixed;
    right: 0%;
	float: left;
	height: 100%;
	width: 10%;
	background-color: #3a3b3d;
    color:orange;
	text-align: center;
	
	overflow-x: scroll;
	
	
}

/*
.force-overflow
{
	min-height: 450px;
}
*/



/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	display: none;
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
