
body{
    background-color: #000;
}

.rgbBox{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 100%;

   
    /*background-color: yellow;*/

    transform: translate(-50%,-50%);
}


.yLine{

    position: absolute;
    top: 0%;
    left: 0%;

    width: 25%;
    height: 100%;

    
    background: yellow;

}


.rLine{

    position: absolute;
    top: 0%;
    left: 25%;

    width: 25%;
    height: 100%;

    
    background: red;

}


.gLine{

    position: absolute;
    top: 0%;
    left: 50%;

    width: 25%;
    height: 100%;

    
    background: green;

}


.bLine{

    position: absolute;
    top: 0%;
    left: 75%;

    width: 25%;
    height: 100%;

    
    background: blue;

}




