* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .box {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 20px;
    background: linear-gradient(to top left, #222, #131313);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  .logo {
    position: absolute;
    left: 70px;
    right: 70px;
    height: 60px;
    background: orange;
    transform: skewY(0deg);
    border-radius: 10px;
  }
  .logo-1 {
    top: 60px;
  }
  .logo-2 {
    top: 140px;
    transform: skewY(30deg);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  .logo-3 {
    bottom: 60px;
  }