
body{
    background-color: #000;
}





.userMsg{
    position :absolute;
    top:20%;
    left:50%;

    width: 200px;
    height: 100px;

    
    transform: translate(-50%,-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: larger;
    font-weight:bolder;
    color: orange;

    border-radius: 0.5em;

    background-color: rgb(47, 57, 58);


}


.linkBox{
    position :absolute;
    top:50%;
    left:50%;

    width: 500px;
    height: 200px;

    transform: translate(-50%,-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: larger;
    font-weight:bolder;
    color: orange;

    border-radius: 0.5em;

    background-color: rgb(15, 33, 34)


}





