
body{
    background-color: #131419;
}


.custom-body-background{

    position:absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    
}

.custom-body-background-black{
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: black;

}

.custom-body-background-yellow{
    position:absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: #ffb92a;

}


/* Overview */

.overview{
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 90%;
    border-radius: 0.6em;
    background-color: #201f28;

}




